@model WebProjesi.Models.Film
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Film Sil";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-action="postDelete">

    <h1 class="text-light text-center bg-dark">Film Sil</h1>
    <input asp-for="Id" hidden />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="text-center bg-light">
                    Film Adı
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input asp-for="filmIsmi" disabled width="100" type="text" id="isim" class="form-control" />

                </td>
            </tr>
        </tbody>



    </table>

    <div class="offset-4">

        <input type="submit" class="btn btn-success  w-25" value="Sil" />
        <a asp-action="Index" class="btn btn-danger  w-25">Geri Git</a>

    </div>

</form>