@model WebProjesi.Models.FilmYorum
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@using Microsoft.AspNetCore.Identity
@using WebProjesi.Areas.Identity.Data

@inject SignInManager<WebProjesiKullanici> SignInManager
@inject UserManager<WebProjesiKullanici> UserManager


<form method="post" asp-action="FilmYorum">
    
    
    <h1 class="text-light text-center bg-dark">Film'e Yorum Yap</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="text-center bg-light">
                    Film Adı
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input asp-for="Yorum" width="100" type="text" id="yorum" class="form-control" />
                    <input asp-for="Kullanici" width="100" type="text" id="yorum" class="form-control" />
                    <input asp-for="FilmNumara"  value="@ViewData["FilmNumara"]">
                    
                </td>
                
            </tr>
        </tbody>



    </table>

    <div class="offset-4">

        <input type="submit" class="btn btn-info  w-25" value="Ekle" />
        <a asp-action="Index" class="btn btn-danger  w-25">Geri Git</a>

    </div>

</form>


