@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Giriş";
    
}

<div class="bg-dark text-white text-center">
<div>
    <br />
    <h1>Good2Watch</h1>
    <h3>
        Good2Watch'a Hoşgeldiniz.
    </h3>
    <br />
    <h4>
        Good2Watch kullanıcılarının izledikleri filmler,okudukları kitaplar hakkındaki görüşlerini ve yorumlarını diğer kullanıcılarla paylaşabilecekleri sosyal bir web sitesidir.
        <br />
        <br />
        Site üzerindeki içeriklere erişmek için kullanıcının eğer hesabı var ise giriş yapması,eğer hesabı yok ise kaydolup giriş yapması gerekmektedir.
        <br />
        <br />
        Sağ üst kısımda bulunan butonlar aracılığıyla kaydolma/giriş yapma işlemleri gerçekleştirilebilir.
        <br />
        <br />
        Sol üstte bulunan buton aracılığıyla site menüsü açılabilir,menü üzerindeki butonlar aracılığıyla sitede istediğiniz sayfaya ulaşabilirsiniz.
        <br />
        <br />
    </h4>
    &nbsp
</div>
</div>