@{
    ViewData["Title"] = "İletişim";
    
}
<div>
    <div class="align-self-center  ">

        <h4 class="bg-dark w-25 text-center pb-2 rounded pl-2 pr-2 pt-2 text-white">İletişim</h4>

    </div>
    <div class="row">


        <div class="col card text-white">
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-sm-4">
                        <img src="https://www.nicepng.com/png/detail/202-2024687_profile-icon-for-the-politics-category-profile-icon.png" class="card-img kartresim" alt="...">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h2 class="card-title text-capitalize text-center">İletişim Bilgileri</h2>
                            <h2 class="card-title text-capitalize text-center">Fatih Memur</h2>
                            <h2 class="card-title text-capitalize text-center">Doğan Alperen Memur</h2>
                            <br />
                            <h4 class="card-text  pl-4 pr-4">Email: fatih.memur@ogr.sakarya.edu.tr</h4>
                            <h4 class="card-text  pl-4 pr-4">Email: dogan.memur@ogr.sakarya.edu.tr</h4>
                            <br />
                            <h4 class="card-text  pl-4 pr-4">Okul Numarası: G211210377</h4>
                            <h4 class="card-text  pl-4 pr-4">Okul Numarası: B201210390</h4>
                            <br />
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>
<br />






