@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model WebProjesi.Models.Film
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Filmi Güncelle";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<form method="post" asp-action="Update">

    <h1 class="text-light text-center bg-dark">Filmi Düzenle</h1>
    <input asp-for="Id" hidden />

    <h3 class="text-center">Film Kategorisi</h3>
    <select class=" bg-light border-dark text-dark form-control" asp-for="filmTuru" id="isim">
        <option value="Aksiyon">
            Aksiyon
        </option>
        <option value="Bilim Kurgu">
            Bilim Kurgu
        </option>
        <option value="Macera">
            Macera
        </option>
        <option value="Romantik">
            Romantik
        </option>
    </select>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="text-center bg-light">
                    Film İsmi
                </th>
                <th class="text-center bg-light">
                    Film Açıklaması
                </th>
                <th class="text-center bg-light">
                    Resim URL
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input asp-for="filmIsmi" width="100" type="text" id="isim" class="form-control" />
                    <span asp-validation-for="filmIsmi" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="filmAciklamasi" width="100" type="text" id="isim" class="form-control" />
                    <span asp-validation-for="filmAciklamasi" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="filmResimURL" width="100" type="text" id="isim" class="form-control" />
                    <span asp-validation-for="filmResimURL" class="text-danger"></span>
                </td>
            </tr>
        </tbody>



    </table>

    <div class="offset-4">

        <input type="submit" class="btn btn-info  w-25" value="Düzenle" />
        <a asp-action="Index" class="btn btn-danger  w-25">Geri Git</a>

    </div>

</form>


