


.card-yorum {
    background-color: white;
}

a.item{
    justify-content:end;
}

/* Provide sufficient contrast against white background */

}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
   
    background-color: #f5e538;
    border-color: #1861ac;
}

.topbar {
    background-color: #101018;
    color: #fdfaf7
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: url("../resimler/arkaplan6.jpg") no-repeat center fixed;
    background-size: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #101018;
}


.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #101018; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fdfaf7;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: white;
            background-color: #1f1e1d;
        }

    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 0px;
    }

    .logo{
        font-size:27px;
    }

.sari {
    color: #f3f3f3;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    transition:0.5s;
}

    .openbtn:hover {
        background-color: #444;
    }





.card {
    margin-bottom: 20px;
    background-color: #2a3249;
    box-shadow: rgb(0, 0, 0, 0.75) 12px 12px;
    
}
.cardFilm {
    min-width: 8rem;
    height: 38rem;
    text-overflow: ellipsis;
}

.kartresim {
    height: 25rem !important;
    object-fit: fill;
    
}
 

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    margin-top: -20px;
    
}

.buton {
    color: #101018;
}

#logo {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

